<section class="todoapp">
  <header class="header">
    <h1>{{label}}</h1>
    <form (submit)="appendItem(newTodoInput.value); newTodoInput.value=''">
      <input  #newTodoInput
              name        = "newTodoInput"
              class       = "new-todo"
              placeholder = "Que faire?"
              autofocus />
    </form>
  </header>
  <section class="main">
    <input  class="toggle-all"
            type="checkbox"
            name="toggleAll"
            (click)="togleAll()"
    />


    <ul class="todo-list">
      <div *ngFor="let item of items" >
        <li
          *ngIf="filter == 'filterAll' || filter == 'filterActives' && item.isDone==false || filter == 'filterCompleted' && item.isDone==true"
          [ngClass]="item.editing ? 'editing' : (item.isDone ? 'completed': '')">
        <app-todo-item [data]="item"></app-todo-item>
        </li>
      </div>
    </ul>


  </section>
  <footer *ngIf="items.length > 0" class="footer">
    <span class="todo-count"><strong>{{countLeft()}}</strong> {{countLeft()==1 ? 'restante' : 'restantes'}}</span>

    <ul class="filters">
      <li>
        <a class="filterAll" (click)="changeFilter('filterAll')" [class.selected]="filter === 'filterAll'" >Tous</a>
      </li>
      <li>
        <a class="filterActives" (click)="changeFilter('filterActives')" [class.selected]="filter === 'filterActives'">Actifs</a>
      </li>
      <li>
        <a class="filterCompleted" (click)="changeFilter('filterCompleted')" [class.selected]="filter === 'filterCompleted'">Complétés</a>
      </li>
    </ul>

    <button class="clear-completed" 
      *ngIf="items.length != countLeft()"
      (click)="deleteItemsDone()">Supprimer cochées</button>
  </footer>

  <footer *ngIf="items.length > 0" class="footer">
    <button (click)="deleteAll()" class="clear-completed">Supprimer toutes les tâches</button>
  </footer>

</section>

  <footer class="info">
    Double-clic pour éditer une tâche
  </footer>

<hr/>

