.pageWidth{
    max-width: 340px;
    width:256px;
    margin:auto;
}

.buttonCadre{
    margin: 0 auto;
    width: 210px;
}

.buttonCadreRetour {
    margin: 0 auto;
    width: 190px;
}

.buttonTodoList {
    background-color: #f4511e;
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    font-size: 16px;
    margin: 4px 2px;
    opacity: 0.6;
    transition: 0.3s;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
}

.buttonTodoList:hover {
    opacity: 1
}

.info {
    color:#6A6A67;
}




  .voice-recognition-on {
    background-clip: solid, 1px, black;
    content: "";
    background:url('assets/micon.png');
    background-size: 100%;
    position:relative;
    float:right;
    top: -60px;
    left: -5px;
    width: 50px;
    height: 50px;
    text-align: center;
    border: none;
  }

@keyframes zoominoutsinglefeatured {
    0% {
        transform: scale(1,1);
    }
    50% {
        transform: scale(1.2,1.2);
    }
    100% {
        transform: scale(1,1);
    }
}

.voice-recognition-on {
    animation: zoominoutsinglefeatured 1s infinite ;
}