<section class="todoapp" (click)="listQRcode()" (onkeypressed)="listQRcode()">
  <header class="header">
    <h1>{{label}}</h1>
    <form (submit)="appendItem(newTodoInput.value); newTodoInput.value=''">
      <input  #newTodoInput
              value = {{textInLabel}} 
              name        = "newTodoInput"
              class       = "new-todo"
              placeholder = "Que faire?"
              autofocus />  
    </form>
  </header>
  <section class="main">
    <input  class="toggle-all"
            type="checkbox"
            name="toggleAll"
            (click)="togleAll()"
    />

    <button
      *ngIf="isSpeaking"
      (click)="stopService()"
      class="voice-recognition-on"
      name="voiceRecognitionOn"
      title="Arrêter la reconnaissance vocale"
    ></button>

    <button
      *ngIf="!isSpeaking"
      (click)="startService()"
      class="voice-recognition-off"
      name="voiceRecognitionOff"
      title="Commencer la reconnaissance vocale"
    ></button>


    <ul class="todo-list">
      <div *ngFor="let item of items" >
        <li
          *ngIf="filter == 'filterAll' || filter == 'filterActives' && item.isDone==false || filter == 'filterCompleted' && item.isDone==true"
          [ngClass]="item.editing ? 'editing' : (item.isDone ? 'completed': '')">
        <app-todo-item [data]="item"></app-todo-item>
        </li>
      </div>
    </ul>


  </section>
  <footer *ngIf="items.length > 0" class="footer">
    <span class="todo-count"><strong>{{countLeft()}}</strong> {{countLeft()==1 ? 'restante' : 'restantes'}}</span>

    <ul class="filters">
      <li>
        <a class="filterAll" (click)="changeFilter('filterAll')" [class.selected]="filter === 'filterAll'" >Tous</a>
      </li>
      <li>
        <a class="filterActives" (click)="changeFilter('filterActives')" [class.selected]="filter === 'filterActives'">Actifs</a>
      </li>
      <li>
        <a class="filterCompleted" (click)="changeFilter('filterCompleted')" [class.selected]="filter === 'filterCompleted'">Complétés</a>
      </li>
    </ul>

    <button class="clear-completed" 
      *ngIf="items.length != countLeft()"
      (click)="deleteItemsDone()">Supprimer cochées</button>
  </footer>

  <footer *ngIf="items.length > 0" class="footer">
    <button (click)="deleteAll()" class="clear-completed">Supprimer toutes les tâches</button>
  </footer>

</section>



  <div class="buttonCadreRetour">
    <a routerLink="/">
      <button class="buttonTodoList">Retour au menu</button>
    </a>
  </div>

  <br/>
  <br/>
  
  <div class="buttonCadre" *ngIf="!showQR">
    <button class="buttonTodoList" (click)="listQRcode()" (click)="showOrHideQRCode()"> Afficher QR Code </button>
  </div>
  <div class="pageWidth" *ngIf="showQR">
    <div class="buttonCadre">
      <button class="buttonTodoList" (click)="listQRcode()" (click)="showOrHideQRCode()">Masquer QR Code</button>
    </div>
    <qrcode [qrdata]="qrdata" [width]="256" [errorCorrectionLevel]="'M'"></qrcode>
    <div class="buttonCadre">
      <button class="buttonTodoList" (click)="listQRcode()">Actualiser QR Code</button>
      </div>
  </div>


  <footer class="info">
    

    <b>Reconnaissance vocale : </b><br/> 
    La reconnaissance vocale n'est disponible que sur le navigateur Google Chrome. <br/>
    Pour utiliser la reconnaissance vocale, cliquez sur le micro gris puis parlez. A la fin de votre phrase, cliquez sur le micro vert pour terminer la reconnaissance vocale. Un nouvel item correspondant à vos mots sera ajouté dans votre Todolist <br/>
    _____________________________________________<br/>
    <b>QR Code :</b><br/> 
    Vous pouvez afficher le QR Code correspondant à votre TodoList en cliquant sur le bouton "Afficher QR Code".<br/>
    Afin d'accéder à votre TodoList sur votre smartphone, scannez le QR Code affiché.<br/>
    Avant le scan, n'oubliez pas d'actualiser le QR Code en cliquant sur le bouton "Actualiser QR Code" pour qu'il soit mis à jour.<br/>
    <br/>
    
    
    

  </footer>

<hr/>

<!-- Version V5 debug -->
<!--
<h2>Debug V5</h2>
<ul>
  <li *ngFor="let item of items">
    <input type="checkbox" [ngModel]="item.isDone" (ngModelChange)="itemDone(item,$event)"/>
    <form (submit)="itemLabel(item, newLab.value)">
      <input type="text" name="label" [ngModel]="item.label" #newLab/>
    </form>

    <button (click)="itemDelete(item)">Remove</button>

    <pre>{{item|json}}</pre>
  </li>
</ul>
-->



