<div class="view">
  <input 	class			= "toggle"
          type			= "checkbox"
          name			= "fait"
          [ngModel] = "data.isDone"
          (ngModelChange)="itemDone(data,$event)"
  />
  <label 	class="texte" (dblclick)="editMode(data, true)">{{data.label}}</label>
  <button class="destroy" (click)="itemDelete(data)"></button>
</div>

<form>
  <input  #newTextInput
          type = "text"
          class = "edit"
          name    = "newTextInput"
          [ngModel]="data.label" 
          (keyup.enter) = "editMode(data, false); itemLabel(data, newTextInput.value);"
          
  />
</form>
